<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<script>
  function MemberSave__submitForm(form) {
      const username = form.username.value.trim();
      const password = form.password.value.trim();

      if (username.length == 0) {
          alert('아이디를 입력해주세요.');
          form.username.focus();
          return false;
      }

      if (password.length == 0) {
          alert('비밀번호를 입력해주세요.');
          form.password.focus();
          return false;
      }

      return true;
  }
</script>
<body>
  <h1> 회원가입 </h1>
  <!-- method="GET" 은 생략가능-->
  <!-- target="_blank" 은 새창열기 -->
  <form method="POST" action="join" onsubmit="return MemberSave__submitForm(this);" id="memberSaveForm">
  <input type="text" name="username" placeholder="username 을 입력하세요"/>
    <input type="password" name="password" placeholder="password 를 입력하세요">
    <button type="submit">가입</button>
  </form>
</body>
</html>